$text-block-width: 80px;
$primary-font-color: #333333;
$primary: #BA55D3;
$secondary: #BA55D3;
$cancels-button: #E53935;
$bike-bg-color: #f2f2f2;
$slash-color: #c2c2c2;
$header-bg: linear-gradient(to right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239),
            rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200),
            rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));

