<template>
  <v-row>
    <v-col cols="12" md="12">
      <h2>Available bicycles ({{this.$store.getters.rentedBikesCount}})</h2>
    </v-col>
    <v-col cols="12" md="12">
      <div v-for="bike in this.$store.getters.availableBikes"
           v-bind:key="bike.name + bike.price + bike.type">
        <AvailableBike
          :bikeName="bike.name"
          :bikeType="bike.type"
          :bikePrice="bike.price"
          :bikeId="bike._id"
        />
        </div>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AvailableBike from '@/components/AvailableBike.vue';

@Component({
  name: 'AvailableBikes',
  components: { AvailableBike },
})

export default class AvailableBikes extends Vue {}
</script>
