<template>
  <v-row class="bike">
    <v-col cols="12" md="8">
      <div>
        <span class="bike__name">{{bikeName}}</span>
        <span class="bike__slash">|</span>
        <span class="bike__type">{{bikeType}}</span>
        <span class="bike__slash">|</span>
        <span class="bike__price">${{bikePrice}}</span>
      </div>
    </v-col>
    <v-col cols="12" md="2">
      <v-btn class="bike__rent"
             color="#9370DB"
             @click="rentBike"
      >
        Rent
      </v-btn>
    </v-col>
    <v-col cols="12" md="2">
      <v-btn
        class="bike__delete"
        color="red darken-1"
        @click="deleteBike"
      >
        Delete
      </v-btn>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import APIService from '@/services/APIservice';
import Swal from 'sweetalert2';
import moment from 'moment';

@Component({
  name: 'AvailableBike',
})

export default class AvailableBike extends Vue {
  @Prop() private bikeName!: string;

  @Prop() private bikeType!: string;

  @Prop() private bikePrice!: number;

  @Prop() private bikeId!: number;

  deleteBike() {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger',
      },
      buttonsStyling: false,
    });

    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true,
    }).then((result) => {
      if (result.value) {
        try {
          this.$store.dispatch('setLoading', { is: true });
          APIService.deleteBike(this.bikeId);
          this.$store.dispatch('setBikeMoved', { is: !this.$store.state.isBikeMoved });
        } catch (e) {
          Swal.fire({
            title: 'Error!',
            text: e,
            icon: 'error',
            confirmButtonText: 'Okay...',
          });
        }
      }
    });
  }

  rentBike() {
    try {
      this.$store.dispatch('setLoading', { is: true });
      APIService.updateBike(this.bikeId, {
        available: false,
        time: moment().format(),
      });
      this.$store.commit('setBikeMoved', { is: !this.$store.state.isBikeMoved });
    } catch (e) {
      Swal.fire({
        title: 'Error!',
        text: e,
        icon: 'error',
        confirmButtonText: 'Okay...',
      });
    }
  }
}
</script>
<style lang="scss">
@import 'src/constansts/variables';
.bike {
  font-size: 20px;
  background-color: $bike-bg-color;
  padding: 10px 15px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 15px;

  &__slash {
    margin: 0 10px;
    color: $slash-color;
  }

  &__name, &__type, &__price {
    display: inline-block;
    text-align: center;
    min-width: $text-block-width;
  }
}

.btn-success {
  background-color: $primary;
  padding: 10px;
  color: #ffffff;
  margin-left: 10px;
  outline: none;
  border-radius: 5px;
}

.btn-danger {
  background-color: $cancels-button;
  padding: 10px;
  color: #ffffff;
  outline: none;
  border-radius: 5px;
}
</style>
