<template>
  <header class="header">
    <h1 class="header__logo">Awesome Bike Rental</h1>
  </header>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style lang="scss">
@import 'src/constansts/variables';

.header {
  display: flex;
  align-items: center;
  background-image: $header-bg;
  color: #ffffff;
  margin-bottom: 50px;

&__logo {
  padding: 15px 0 15px 50px;
}
}
</style>
