<template>
  <v-row>
    <v-col cols="12" md="12">
      <h2>Your rent (Total: ${{this.$store.getters.rentedBikesTotalSum}})</h2>
    </v-col>
      <v-btn @click="updateRentTime" class="ma-2" tile outlined color="#BA55D3">
        <v-icon left>mdi-cached</v-icon> Rent time
      </v-btn>
    <v-col cols="12" md="12">
      <div v-for="bike in this.$store.getters.rentedBikes"
           v-bind:key="bike.name + bike.price + bike.type">
        <RentedBike
          :bikeName="bike.name"
          :bikeType="bike.type"
          :bikePrice="bike.price"
          :bikeId="bike._id"
          :bikeRentTime="bikeRentTimeDiff(bike.time)"
        />
      </div>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RentedBike from '@/components/RentedBike.vue';
import moment from 'moment';

@Component({
  name: 'AvailableBikes',
  components: { RentedBike },
})

export default class RentedBikes extends Vue {
  bikeRentTimeDiff(bikeTime: string) {
    return moment().diff(moment(bikeTime), 'hour') + 1;
  }

  updateRentTime() {
    this.$store.dispatch('setLoading', { is: true });
    this.$store.dispatch('setBikeMoved', { is: !this.$store.state.isBikeMoved });
  }
}
</script>
