<template>
  <div>
    <h2 class="rent-title">Create New Rent</h2>
    <v-form class="rent-form" ref="form" v-on:submit.prevent="saveBike">
      <v-container>
        <v-row class="rent-bike">
          <v-col cols="12" md="3" lg="4">
            <v-text-field
              v-model.trim="bike.name"
              label="Bike name"
              :rules="nameRules"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3" lg="4">
            <v-select
              v-model="bike.type"
              :items="bikeTypes"
              label="Bike type"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="3" lg="2">
            <v-text-field
              v-model.trim="bike.price"
              label="Rent price"
              :rules="priceRules"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="3" lg="2">
            <v-btn type="submit" class="ma-2 submit-rent" tile color="#BA55D3">Submit rent</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import APIService from '@/services/APIservice';
import Swal from 'sweetalert2';
import { MyBike } from '@/interfaces/iBike';
import { bikeTypes, inputNameRules, inputPriceRules } from '@/constansts/variables';
import moment from 'moment';

@Component({
  name: 'RentBike',
})

export default class RentBike extends Vue {
  bikeTypes = bikeTypes;

  nameRules = inputNameRules;

  priceRules = inputPriceRules;

  bike: MyBike = {
    name: '',
    type: 'Custom',
    price: '0',
    available: true,
    time: moment().format(),
  }

  async saveBike() {
    const price = this.bike.price.includes('.') ? this.bike.price : `${this.bike.price}.00`;
    try {
      await APIService.postBike(
        {
          ...this.bike,
          price,
          time: moment().format(),
        },
      );
      this.$store.commit('setBikeMoved', { is: !this.$store.state.isBikeMoved });
      this.$refs.form.reset();
      await Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Bike was added',
        showConfirmButton: false,
        timer: 1500,
        width: 200,
      });
    } catch (e) {
      await Swal.fire({
        title: 'Something wrong :(',
        text: e,
        icon: 'error',
        confirmButtonText: 'Okay...',
      });
    }
  }
}
</script>
<style lang="scss">
  @import 'src/constansts/variables';
.rent-title{
  margin-bottom: 25px;
}

.rent-form {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid $primary;
  margin-bottom: 50px;
}

.v-btn:not(.v-btn--round).v-size--default {
  width: 140px;
  color: #ffffff;
  border-radius: 5px;
}
</style>
