<template>
  <v-row class="bike">
    <v-col cols="12" md="10">
      <div>
        <span class="bike__name">{{bikeName}}</span>
        <span class="bike__slash">|</span>
        <span class="bike__type">{{bikeType}}</span>
        <span class="bike__slash">|</span>
        <span :class="bikeRentTime > 20
        ? 'bike__price bike__price--discount'
        : 'bike__price'">
          ${{
            bikeRentTime > 20
              ? bikePrice / 2
              : bikePrice
          }}
        </span>
        <span class="bike__slash">|</span>
        <span class="bike__time">{{bikeRentTime}} hours</span>
      </div>
    </v-col>
    <v-col cols="12" md="2">
      <v-btn
        class="bike__delete"
        color="red darken-1"
        @click="cancelRent"
      >
        Cancel rent
      </v-btn>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import APIService from '@/services/APIservice';
import Swal from 'sweetalert2';

@Component({
  name: 'RentedBike',
})

export default class RentedBike extends Vue {
  @Prop() private bikeName!: string;

  @Prop() private bikeType!: string;

  @Prop() private bikePrice!: number;

  @Prop() private bikeId!: number;

  @Prop() private bikeRentTime!: number;

  cancelRent() {
    try {
      this.$store.dispatch('setLoading', { is: true });
      APIService.updateBike(this.bikeId, { available: true });
      this.$store.dispatch('setBikeMoved', { is: !this.$store.state.isBikeMoved });
    } catch (e) {
      Swal.fire({
        title: 'Error!',
        text: e,
        icon: 'error',
        confirmButtonText: 'Okay...',
      });
    }
  }
}
</script>
<style lang="scss">
  .bike__price--discount {
    color: green;
  }
</style>
