<template>
  <v-app>
    <Loader v-if="this.$store.state.isLoading"/>
    <Header/>
    <v-container>
      <RentBike/>
      <RentedBikes/>
      <AvailableBikes />
    </v-container>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import RentBike from '@/components/RentBike.vue';
import AvailableBikes from '@/components/AvailableBikes.vue';
import APIService from '@/services/APIservice';
import Swal from 'sweetalert2';
import { Watch } from 'vue-property-decorator';
import { mapState } from 'vuex';
import RentedBikes from '@/components/RentedBikes.vue';
import Loader from '@/components/Loader.vue';
import Header from '@/components/Header.vue';

@Component({
  name: 'App',
  components: {
    Header,
    Loader,
    RentedBikes,
    AvailableBikes,
    RentBike,
  },
  computed: mapState([
    'isBikeMoved',
  ]),
})

export default class App extends Vue {
  @Watch('isBikeMoved')
  onPropertyChanged(value: boolean, oldValue: boolean) {
    if (value !== oldValue) {
      setTimeout(() => {
        this.getBikes();
      }, 500);
    }
  }

  async getBikes() {
    try {
      const data = await APIService.getBikes();
      this.$store.commit('setBikes', { bikes: data.data });
    } catch (e) {
      await Swal.fire({
        title: 'Error!',
        text: ':(',
        icon: 'error',
        confirmButtonText: 'Okay...',
      });
    } finally {
      await this.$store.dispatch('setLoading', { is: false });
    }
  }

  created() {
    this.getBikes();
  }
}
</script>
<style lang="scss">
@import 'src/constansts/variables';

.container {
  color: $primary-font-color;
}
.swal2-shown {
  padding-right: 0 !important;
}
</style>
